@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'wp';
  src: url('@/assets/fonts/GT-Walsheim-Pro-Black.woff') format('woff');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'sd';
  src: url('@/assets/fonts/SaolDisplay-SemiboldItalic.woff') format('woff');
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'sdr';
  src: url('@/assets/fonts/SaolDisplay-Regular.woff') format('woff');
  font-style: italic;
  font-display: swap;
}


@font-face {
  font-family: 'ns';
  src: url('@/assets/fonts/Newsreader_14pt-SemiBold.woff') format('woff');
  font-style: italic;
  font-display: swap;
}

:root {
  --blue: #161E25;
}

body {
  background-color: #F9DCC5;
}