@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'wp';
  src: url('@/assets/fonts/GT-Walsheim-Pro-Black.woff') format('woff');
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'sd';
  src: url('@/assets/fonts/SaolDisplay-SemiboldItalic.woff') format('woff');
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: 'sdr';
  src: url('@/assets/fonts/SaolDisplay-Regular.woff') format('woff');
  font-style: normal;
  font-display: block;
}


@font-face {
  font-family: 'ns';
  src: url('@/assets/fonts/Newsreader_14pt-SemiBold.woff') format('woff');
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: 'gb';
  src: url('@/assets/fonts/gravity-bold.woff') format('woff');
  font-style: normal;
  font-display: block;
}

:root {
  --blue: #161E25;
}

body {
  background-color: #000000;
  overflow: visible;
  cursor: none;

  &.wait {
    overflow: hidden;
  }

  &::-webkit-scrollbar {
    width: 0px;
  }

  // &::-webkit-scrollbar-track {
  //   background-color: rgb(230, 0, 0);
  // }

  // &::-webkit-scrollbar-thumb {
  //   background-color: #000000;
  //   border-radius: 4px
  // }
}